@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Sawarabi Gothic', sans-serif;
}

body{
  color: #333333;
}

header{
  margin-bottom: 100px;
}

.header-logo{
  font-family: 'Ubuntu', sans-serif;
  font-size: 80px;
  margin: 30px 30px 30px 0px;
  text-align: center;
}

.header-menu{
  margin: 0 auto;
  width: 400px;
}

.menu-list{
  font-family: 'Ubuntu', sans-serif;
  float: left;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s;
}

.menu-list:hover{
  opacity: 0.6
}

.main{
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}

.top-picture{
  width: 700px;
}

#blog-title{
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 30px;
  margin: 40px 40px 40px 0px;
}

.text{
  width: 100%;
  height: 650px;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.text::-webkit-scrollbar{
  display: none;
}
